<div *ngIf="!shouldBeMobileFriendly(); then normal else mobileFriendly"></div>
<ng-template #mobileFriendly>
  <div *ngIf="true; then formContent"></div>
</ng-template>
<ng-template #normal>
  <mat-grid-list cols="3"
                 rowHeight="100%">
    <!--Left side-->
    <mat-grid-tile></mat-grid-tile>
    <!--Center-->
    <mat-grid-tile>
      <mat-card [@fadeInAnimation] class="new-user-container">
        <mat-list>
          <!--new-user header-->
          <mat-list-item class="new-user-header">
            <img class="new-user-header-image" src="../../../assets/icon.png">
          </mat-list-item>
          <!--new-user body-->
          <mat-list-item class="new-user-body">
            <div *ngIf="true; then formContent"></div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-grid-tile>
    <!--Right side-->
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</ng-template>

<ng-template #formContent>
  <form [formGroup]="newUserForm"
        class="new-user-form"
        (submit)="createUser()">
    <div class="form-group">
      <!--Username-->
      <mat-form-field class="new-user-full-width">
        <input matInput
               appAutofocus
               #usernameInput
               placeholder="Username"
               formControlName="username"
               required>
        <mat-hint *ngIf="username.pending">
          Hold tight... Checking availability of {{ username.value }}
        </mat-hint>
        <mat-hint *ngIf="username.valid">
          Congratulations {{ username.value }} is available!
        </mat-hint>
        <mat-error *ngIf="username.invalid">
          {{getUsernameErrorMessage()}}
        </mat-error>
      </mat-form-field>
      <!--Email-->
      <mat-form-field class="new-user-full-width">
        <input matInput
               placeholder="Email"
               formControlName="email"
               required>
        <mat-error *ngIf="email.invalid">
          {{getEmailErrorMessage()}}
        </mat-error>
      </mat-form-field>
      <!--Password-->
      <mat-form-field class="new-user-full-width">
        <input matInput
               type="password"
               placeholder="Password"
               formControlName="password"
               required>
        <mat-error *ngIf="password.invalid">
          {{getPasswordErrorMessage()}}
        </mat-error>
      </mat-form-field>
      <!--Repeat Password-->
      <mat-form-field class="new-user-full-width">
        <input matInput
               type="password"
               placeholder="Repeat Password"
               formControlName="repeatPassword"
               required>
        <mat-error *ngIf="repeatPassword.invalid">
          {{getPasswordMustMatchErrorMessage()}}
        </mat-error>
      </mat-form-field>
    </div>
    <button type="submit"
            [disabled]="!newUserForm.valid"
            class="new-user-button"
            mat-raised-button>CREATE</button>
    <button routerLink="/login"
            class="cancel-button"
            mat-raised-button>CANCEL</button>
  </form>
</ng-template>
