<div fxLayout="column">
  <div *ngIf="galleryImages.length > 0; then imageContent else noImages"></div>

  <ng-template #imageContent>
    <h3 fxFlexAlign="center">Images</h3>
    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
    (change)="setCurrentImageIndex($event)">
    </ngx-gallery>
  </ng-template>

  <ng-template #noImages>
    <div *ngIf="!isLoading">
      <h3>You have no images</h3>
      <h5>You can upload files in the Drop Zone!</h5>
    </div>
  </ng-template>
</div>
