<mat-toolbar class="adamino-theme">
  <mat-toolbar-row fxLayout="row">
    <button *ngIf="isLoggedIn && shouldBeMobileFriendly()"
            mat-mini-fab
            class="navbarIcon"
            (click)="toggleNav()">
      <mat-icon>list</mat-icon>
    </button>
    <span class="white standard-margin" routerLink="/">
    Dropbox Wannabe
  </span>
    <div *ngIf="isLoggedIn && !shouldBeMobileFriendly()" fxFlex>
      <a class="navLink" mat-button  routerLinkActive="navLinkActive" routerLink="/file-system" >Home</a>
      <a class="navLink" mat-button routerLinkActive="navLinkActive" routerLink="/profile" >Profile</a>
      <div fxFlex></div>
      <button (click)="logout()"
        class="navLink"
        mat-button>
        Logout
        <mat-icon class="navLink">power_settings_new
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
