<mat-toolbar class="adamino-theme">
  <mat-toolbar-row>
    <button *ngIf="userLoggedIn"
      mat-mini-fab
      class="navbarIcon"
      (click)="toggleNav()">
      <mat-icon>list</mat-icon>
    </button>
    <span class="white standard-margin" routerLink="/login">
    Dropbox Wannabe
  </span>
    <div *ngIf="userLoggedIn">
      <a class="navLink" mat-button  routerLinkActive="navLinkActive" routerLink="/file-system" >Home</a>
      <a class="navLink" mat-button routerLinkActive="navLinkActive" routerLink="/profile" >Profile</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
