<div fxLayout="column">
  <div class="dropzone"
       fxFlex="20"
       appDropZone
       (hovered)="toggleHover($event)"
       (dropped)="startUpload($event)"
       [class.hovering]="isHovering">

    <!--FILE DROP CONTENT-->
    <div fxFlex
         fxFlexAlign="center"
         fxFlexOffset="10">
      <h3>Drop Zone</h3>

      <input class="file-input" type="file" (change)="startUpload($event.target.files)">
    </div>
  </div>

  <div *ngIf="snapshot | async as snap">
    <div *ngIf="uploadIsActive">
      <progress *ngIf="uploadPercent | async as pct"
                class="progress is-info"
                [value]="pct"
                max="100">
        {{ pct | number }}%
      </progress>
      {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
      <div>
        <button class="pause-button" (click)="pause()" mat-button [disabled]="!isUploading(snap)">Pause</button>
        <button class="resume-button" (click)="resume()" mat-button [disabled]="!isPaused(snap)">Resume</button>
        <button class="cancel-button" (click)="cancel()" mat-button [disabled]="!isUploading(snap)">Cancel</button>
      </div>
    </div>
  </div>
</div>
