<mat-card *ngIf="currentFolder" fxLayout="column" fxFill
          appDropZone
          (hovered)="toggleHover($event)"
          (dropped)="startUpload($event)"
          [class.hovering]="isHovering">
  <mat-card-header>
    <mat-card-title>{{currentFolder.displayName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <div *ngIf="currentFolder.subFolders">
        <h3 mat-subheader>Folders</h3>
        <h3 mat-subheader>
          <button mat-button (click)="addSubFolder()">
            <mat-icon class="green-add">add</mat-icon>
          </button>
        </h3>
        <mat-list-item *ngFor="let folder of currentFolder.subFolders"
                       (click)="onSubFolderClicked(folder)">
          <mat-icon mat-list-icon
                    class="adamino-accent">folder
          </mat-icon>
          <h4 mat-line>{{folder.displayName}}</h4>
        </mat-list-item>
      </div>

      <div *ngIf="currentFolder.files">
        <h3 mat-subheader>Files</h3>
        <mat-list-item *ngFor="let file of currentFolder.files"
                       (click)="onFileClicked(file)">
          <mat-icon mat-list-icon
                    color="primary">insert_photo
          </mat-icon>
          <h4 mat-line>{{file.displayName}}</h4>
          <p mat-line> {{file.created | date}} </p>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-actions>
    <h4 *ngIf="!file && !currentFolder.subFolders && !currentFolder.files">No folders or files yet</h4>
  </mat-card-actions>
</mat-card>
<div *ngIf="snapshot | async as snap">
  <div *ngIf="uploadIsActive">
    <progress *ngIf="uploadPercent | async as pct"
              class="progress is-info"
              [value]="pct"
              max="100">
      {{ pct | number }}%
    </progress>
    {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
    <div>
      <button class="pause-button" (click)="pause()" mat-button [disabled]="!isUploading(snap)">Pause</button>
      <button class="resume-button" (click)="resume()" mat-button [disabled]="!isPaused(snap)">Resume</button>
      <button class="cancel-button" (click)="cancel()" mat-button [disabled]="!isUploading(snap)">Cancel</button>
    </div>
  </div>
</div>
