/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "assets/colors";

html, body {
  margin: 0 !important;
  height: 100vh;
}

.adamino-theme {
  background-color: $dropbox-blue;
}

.standard-margin {
  margin: 10px;
}

.white {
  color: white;
}

.adamino-snackbar {
  color: $orange;
}

.adamino-snackbar-error {
  color: $red;
  font-weight: bold;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
